
# Temporary holds: Lecture
lecture/00[9]*
lecture/01*

# Temporary holds: Projects
projects/project-001-old
projects/project-002/test-code.R
projects/project-00[3-9]*

# Exams
exam/in-class/*

# Project-specific files

# Data
lecture/010/train.csv
lecture/010/test.csv
lecture/010/sample_submission.csv
exam/take-home/data-full.txt
exam/take-home/nat2021us.dta

# History files
.Rhistory
*.Rhistory
.Rapp.history

# Session Data files
.RData
*.RData
*.rdb

# User-specific files
.Ruserdata

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
*.Rproj.user/
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Dropbox
.DS_Store
*/.DS_Store
